.user-avatar-wrapper {
    background-color: red;
    margin: .4rem;
    padding: .3rem;
    border-radius: .5rem;
}

.avatar-image-wrapper {
    width: 2rem;
    aspect-ratio: 1;
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    font-size: .8rem;
    font-weight: 800;
}