.services-section .section-content-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    padding: 5.625rem 0;
}

.services-heading {
    font-size: 3.4375rem;
    text-align: center;
    max-width: 66.875rem;
    margin: 0 auto;
    font-weight: 800;
}

.services-lead {
    display: block;
    max-width: 68.75rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-size: 1.3rem;
    line-height: 2.1875rem;
    margin-bottom: 10rem;
}

.services-text {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.services-text:last-child {
    margin-bottom: 0rem;
}

.youtube-service-wrapper {
    display: flex;
}

.social-networks-service-wrapper {
    margin-top: 12.625rem;
    display: flex;
    gap: 7rem;
}

.text-column {
    flex-basis: 18.4375rem;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.videos-column {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.videos-column img {
    width: 60.625rem;
}

.youtube-service-logo {
    width: 6.25rem;
    margin-bottom: 2rem;
}

.video-laptop-frame {
    position: relative;
}

.video-frame {
    background-color: rgb(35, 27, 36);
    width: 46.875rem;
    height: 29.375rem;
    position: absolute;
    top: 2.1875rem;
    left: 6.875rem;
}

.social-networks-service-wrapper .text-column .services-text {
    text-align: right;
}

.social-network-coror-icons-frame {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social-network-coror-icons-frame img {
    width: 6.25rem;
}

.social-networks-service-wrapper .videos-column {
    flex-basis: 50%;
    flex-grow: 0;
    justify-content: space-between;
}

.social-networks-service-wrapper .videos-column img,
.social-networks-service-wrapper .phone-frame {
    width: 17.1875rem;
}

.social-networks-service-wrapper .phone-frame {
    position: relative;
}

.text-column {
    flex-basis: 50%;
}

.social-networks-service-wrapper .phones-frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.phone-screen-frame {
    background-color: rgb(36, 18, 32);
    width: 15.4375rem;
    height: 33.6875rem;
    position: absolute;
    border-radius: 1.5625rem;
    top: 0.5rem;
    left: 0.875rem;
}

@media (max-width: 1320px) {
    .videos-column img {
        width: 30rem;
    }

    .video-frame {
        width: 23.2rem;
        height: 14.7em;
        position: absolute;
        top: 1rem;
        left: 3.4rem;
    }

    .services-lead {
        margin-bottom: 6rem;
    }

    .social-networks-service-wrapper .videos-column img,
    .social-networks-service-wrapper .phone-frame {
        width: 13rem;
    }

    .phone-screen-frame {
        width: 11.8rem;
        height: 25.6rem;
        top: 0.3rem;
        left: 0.6rem;
        border-radius: 1.3rem;
    }

    .social-networks-service-wrapper {
        margin-top: 6rem;
        gap: 1rem;
    }

    .social-networks-service-wrapper .phones-frame {
        gap: 1rem;
        justify-content: start;
    }

    .social-networks-service-wrapper .videos-column {
        flex-basis: 57%;
    }
}