@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

.admin-root {
  font-family: 'Outfit', sans-serif;
  height: 100%;
  display: flex;
}

.admin-root button {
    width: 100%;
    height: 2.2rem;
    background-color: #000;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: #fff;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

.main-content-header {
  height: 4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-root .close-icon,
.admin-root .hamburger-icon {
  width: 30px;
  display: none;
}

.routes-wrapper {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  width: 100%;
}

.admin-root h1 {
  margin-bottom: 1.5rem;
}

table {
  width: 50rem;
  border-collapse: collapse;
}

table tr {
  height: 2rem;
  border-bottom: 1px solid black;
}

table th,
table td {
  text-align: left;
  padding-left: .8rem;
}

@media (max-width: 1020px) {
  .admin-root table {
    width: 100%;
  }

  .admin-root .hamburger-icon,
  .admin-root .close-icon {
    display: block;
  }
}