@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800&display=swap');

.site-root {
    font-family: 'Outfit', sans-serif;
    height: 100%;
    font-weight: 400;
    overflow: hidden;
}

@media (max-width: 1320px) {
    .section-content-wrapper {
        max-width: 1000px !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important
    }

    h2 {
        font-size: 2.2rem !important;
        max-width: 50rem !important;
    }
}

@media (max-width: 1020px) {
    .section-content-wrapper {
        max-width: 600px !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important
    }

    h2 {
        font-size: 2.2rem !important;
        max-width: 50rem !important;
    }
}
