.row {
    display: flex;
    justify-content: stretch;
}

.hero-left-col {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    flex-basis: 545px;
}

.hero-right-col {
    padding-top: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-wrapper {
    padding-top: 170px;
    height:906px;
    background: linear-gradient(60deg, #4500a2 0%, #8c00e4 100%);
    color: #f4f0f7;
}

.section-content-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.hero-heading {
    max-width: 675px;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

.hero-logo {
    padding: 0 auto;
    margin-bottom: 25px;
}

.hero-logo-wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.hero-logo-wrapper img {
    height: 25px;
}

.hero-logo-wrapper img.youtube-logo {
    height: 20px;
}

.hero-button-link {
    text-decoration: none;
    font-weight: 400;
    background-color: #fbfe00;
    color: #000;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
}

.main-phone-wrapper {
    position: relative;
    height: 100%;
}

.phone-frame {
    width: 383px;
}

.front-phone-frame {
    fill: #944fdc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.back-phone-frame {
    fill: #732bbe;
    position: absolute;
    transform-origin: bottom left;
    left: calc(50% + 15px);
    transform: translateX(-50%) rotate(3deg);
}

.phone-content-frame {
    width: 353px;
    height: 753px;
    background-color: rgb(20, 15, 20);
    position: absolute;
    left: calc(50%);
    top: 10px;
    border-radius: 40px;
    transform: translateX(-50%);
}